body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

button{

    background-color: black;
    text-align: center;
    justify-content: center;
    border-radius: 10%;

}

header {
    /* background-color: #9414e3; */
    color: #fff;
    padding: 20px 0;
    text-align: right;
}

.title{
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

aside ul li a {
    color: #007BFF;
    text-decoration: none;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li {
    text-decoration: none;
    display: inline;
    margin-right: 20px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover {
    color: #0F0F0F;
    text-decoration: none;
    font-size: 1.2em;
}
main {
    flex: 2;
}

article {
    background-color: #0F0F0F;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #fff;
    margin-top: 0;
}

article p {
    color: #;
}

article a {
    display: inline-block;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
}

aside {
    flex: 1;
    background-color: #0f0f0f;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




footer {
    /* background-color: #9414e3; */
    color: #333;
    text-align: center;
    padding: 20px 0;
    clear: both;
}




button {
    background-color: #007BFF; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Button background color on hover */
}
